.pkmn {
    color: blue;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 9px;
    margin-bottom: 8px;
}

.pkmn:hover {
    background-color: yellow;
    cursor: pointer;
}
.pkmn-container {
    margin: auto;
    min-width: 300px;
    max-width: 800px;
}