.pkmn {
    color: blue;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    margin-bottom: 10px;
}

.pkmn:hover {
    cursor: pointer;
    background-color: lightyellow;
}
.pkmn-list {
    max-height: 600px;
    padding: 25px 30px 25px 20px;
    overflow: scroll;
}