.move-title {
    font-size: 18pt;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 10px;
    color: black;
}
.move-rows {
    display: flex;
    font-weight: 500;
    font-size: 18pt;
    margin-top: 10px;
    flex-wrap: wrap;
    max-height: 140px;
    overflow: scroll;
}
.each-move {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 8px;
    margin: 5px 20px 10px 0px;
}
.each-move:hover {
    cursor: pointer;
    background-color: lightskyblue;
}
.move-wrap {
    margin: 20px 0px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modal-content {
    background-color: #fefefe;
    margin: 50% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
  }
  .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
  }
  .close-box {
    text-align: right;
  }
  .modal-style {
    text-align: center;
    font: 20pt;
    font-weight: 800;
  }
  .modal-title {
      color: black;
      text-transform: uppercase;
      font-size: 20pt;
  }