.stat-row {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid gray;
    border-radius: 10px;
}
.stat {
    color: grey;
    font-weight: 500;
    font-size: 15pt;
}
.stat-val {
    text-align: center;
    font-size: 18pt;
    font-weight: 800;
}
.stat-title {
    font-size: 18pt;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 10px;
}
.stat-wrap {
    margin: 10px 0px 30px;
    min-width: 600px;
}