.badge {
    font-size: 20pt;
    font-weight: 50;
    font-family: Arial, Helvetica, sans-serif;
    width: 48%;
    min-width: 60px;
}

#fire {
    background-color: red;
}

#grass {
    background-color: green;
}

#water {
    background-color: blue;
}

#flying {
    background-color: grey;
}

#psychic {
    background-color: purple;
}

#electric {
    background-color: yellow;
    color: grey;
}

#steel {
    background-color: darkslategrey;
}

#poison {
    background-color: rgb(136, 38, 136);
}

.rock {
    background-color: brown;
}

#ground {
    background-color: brown;
}

#fairy {
    background-color: pink;
}

#dragon {
    background-color: orangered;
}

#fighting {
    background-color: lightcoral;
}

#normal {
    background-color: beige;
    color: grey;
}
#dark {
    background-color: rgb(31, 3, 31);
}

#ice {
    background-color: rgb(123, 123, 250);
}

#bug {
    background-color: yellowgreen;
}

.type_box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 20pt;
    margin-top: 25px;
}
