.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 150px 60px;
    border-top: 50px solid #E10006;
    border-bottom: 2px solid lightgrey;
}

h1 {
    color: #B9152D;
    font-weight: 800;
    letter-spacing: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50pt;
}

.pokeball {
    width: 250px;
}