.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px 40px;
    border-top: 40px solid #E10006;
    border-bottom: 2px solid lightgrey;
    margin-bottom: 30px;
}

h1 {
    color: #B9152D;
    font-weight: 800;
    letter-spacing: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
}

.pokeball {
    width: 125px;
}